.title {
  font-size: 2.2rem;
  text-align: center;
  font-family: "Virgil", monospace;
}

/* Make title bigger on blog post pages */
:global(.blog-post-page) .title {
  font-size: 3rem;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
  
  :global(.blog-post-page) .title {
    font-size: 2.5rem;
  }
}
